body{
    background-color: black;
    font-family: sans-serif;
    color: aliceblue;
}

.card{
    background-color: coral;
    text-align: center;
    width: 400px;
    margin: auto;
    margin-top: 20px;
}

h1{
    padding-top: 10px;
    font-size: 22px;
    margin: 0;
}

h2{
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 2px;
}

p{
    font-size: 9px;
    padding: 20px;
    background-color: lightcoral;
    text-align: justify;
}

.card-img {
    width: 100%; /* Hace que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Mantiene las proporciones de la imagen */
    border-radius: 10px; /* Opcional: Redondea las esquinas de la imagen */
    margin-top: 10px; /* Añade un poco de espacio arriba */
}